.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select {
  height: 400px;
}

.list {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.list > div:last-child {
  border-bottom: 0;
}

.wrapper {
  min-width: 600px;
  text-align: center;
}

.address {
  font-family: monospace;
  line-height: 16px;
  font-size: 14px;
}

.identicon {
  border-radius: 50%;
}

.disabled {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .wrapper {
    min-width: auto;
  }
}
